<div class="container-fluid">
	Tutor Card Container
	<div class="col-sm-7">
		<div class="border">
			<div class="row">

				<div class="col-sm-4">
					<img src="https://cdn3.iconfinder.com/data/icons/sympletts-part-3/128/circle-user-2-128.png">
					<p>five star rating</p>
					<p>Classname</p>
				</div>
				<div class="col-sm-8">
					<span>Firstname Lastname</span>
					<p>email@ucsc.edu</p>
					<p>(123)456-7890</p>
					<div class="row">
						<div class="col-sm-4">
							<row>${day1}</row>
							<row>10:00am</row>
							<row>3:00pm</row>
						</div>
						<div class="col-sm-4">
							<row>day+2</row>
							<row>10:00am</row>
							<row>4:00pm</row>
						</div>
						<div class="col-sm-4">
							<row>day+3</row>
							<row>10:00am</row>
							<row>2:00pm</row>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
